{% extends 'accounts/base.html' %}
{% block title %}
    Teachers rating
{% endblock %}


{% block content %}
    <div class="container">
        <h2>Rating</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Sarzhan</td>
                    <td>Askapov</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Anar</td>
                    <td>Uyzbayeva</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mark</td>
                    <td>Alexander-Warne</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Zhanat</td>
                    <td>Karashbaeva</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Gulnur</td>
                    <td>Smagulova</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Askar</td>
                    <td>Khaimuldin</td>
                    <td>100</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}